<h1>All Movements</h1>
<p>Box # /  Destination </p>
<% @movements.each do |movement| %>
<p><a href="/movements/<%= movement.id %>"><%= movement.box_number %> <%="   "%> <%= movement.destination %></a></p>
<% end %>
