<h1>All Movements</h1>
<p>Date / Destination /  Box # </p>
<% @movements.each do |movement| %>
<p><a href="/movements/<%= movement.id %>"> <%= movement.date %> / <%= movement.destination %> / <%= movement.box_number %> </a></p>
<% end %>
