<h1>Create a movement:</h1>

<% if @movement.errors.any? %>
  <div id="error_explanation">
    <h2><%= @movement.errors.count %> error(s) prohibited this movement from being saved:</h2>
 
    <ul>
    <% @movement.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<form action="post" method="/movements">
<p>
<label for="units_quantity">Date</label>
<input type="text" name="movement[:date]" id="date" />
</p>
<p>
<label for="type">Type</label>
<input type="text" name="movement[:type]" id="type" />
</p>
<p>
<label for="category">Category</label>
<input type="text" name="movement[:category]" id="category" />
</p>
<p>
<label for="destination">Destination</label>
<input type="text" name="movement[:destination]" id="destination" />
</p>
<p>
<label for="box_number">Box #</label>
<input type="text" name="movement[:box_number]" id="box_number" />
</p>
<p>
<label for="units_quantity">Quantity(# of units)</label>
<input type="text" name="movement[:units_quantity]" id="units_quantity" />
</p>
<p>
<label for="employee_id">Created by:</label>
<input type="text" name="movement[:employee_id]" id="employee_id" />
</p>
<input type="submit" value="Create movement" />
</form>