<h1>INVENTORY MOVEMENTS</h1>

<% if logged_in? %>

<div class="sidebar">
      <h3>Welcome, <%= current_user.username %> </h3>
      <ul>
        <li><b>Logged In User's Id:</b> <%= session[:id] %></li>
      </ul>
    </div>

    <% else %>
    
    <h3>Welcome, please sign in or sign up to start using the app.</h3>
    
    <% end %>